Redirect with missing Location header fails with MatchError

Req returns the following error when a redirect with a missing Location header is received.

```elixir
** (MatchError) no match of right hand side value: []
    (req 0.4.14) lib/req/steps.ex:1952: Req.Steps.build_redirect_request/2
    (req 0.4.14) lib/req/steps.ex:1937: Req.Steps.redirect/1
    (req 0.4.14) lib/req/request.ex:1010: anonymous fn/2 in Req.Request.run_response/2
    (elixir 1.15.6) lib/enum.ex:4830: Enumerable.List.reduce/3
    (elixir 1.15.6) lib/enum.ex:2564: Enum.reduce_while/3
    (req 0.4.14) lib/req/request.ex:938: Req.Request.run/1
```

Since RFC 2616 section 10.3 specifies that the Location header only "should" be provided (instead of "must"), redirect should handle the case where Location header is not provided.  Will submit a patch handling this case.

Closing in favour of #332.